Header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}
.site_title {
  font-family: 'ChomskyRegular';
  font-weight: lighter;
  font-style: normal;
  font-size: x-large;
  color: black;
  text-decoration: none;
}

.article-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

nav {
  display: flex;
  border-top: 1px solid #ebebeb;
  padding: 0 60px;
  border-bottom: 1px solid #000;
  list-style: none;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
}

nav .nav-topic-formControl {
  display: none;
}

.nav {
  padding: 10px;
  border-left: 1px solid #ebebeb34;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  font-size: small;
}

.nav:hover {
  transition: background-color 0.6s ease;
  background-color: #f6f6f6;
}

#topic-label {
  display: none;
}

.article-card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'topic created' 'title votes' 'author comments';
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 80px;
  border: 1px solid black;
  border-radius: 20px 50px;
  padding-left: 50px;
  padding-right: 50px;
  overflow: hidden;
}

.article-card * {
  margin: 0;
}

.article-card-topic {
  grid-area: topic;
  font-style: italic;
}

.article-card-title {
  white-space: nowrap;
  overflow: hidden;
  grid-area: title;
  font-size: larger;
  text-overflow: ellipsis;
  align-self: center;
}

.article-card-author {
  grid-area: author;
}

.article-card img {
  height: 18px;
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.article-card-created {
  grid-area: created;
  justify-self: flex-end;
}

.article-card-votes {
  grid-area: votes;
  justify-self: flex-end;
  align-self: center;
  position: relative;
  top: 3px;
  background-color: black;
  color: white;
  width: 19px;
  text-align: center;
  border-radius: 10px;
  left: 5px;
}

.article-card-comments {
  grid-area: comments;
  justify-self: flex-end;
}

.article-card-comments img {
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 8px;
}

@media (max-width: 960px) {
  body {
    /* background-color: lightblue; */
  }
  .site_title {
    font-size: large;
  }
  nav li {
    display: none;
  }

  .nav {
    padding: 0px;
  }
  nav .nav-topic-formControl {
    display: inline-block;
    align-self: center;
    width: 100px;
  }
  #topic-label {
    display: flex;
    align-items: center;
  }
}
