body {
  background-color: #f7f9fb;
}

Header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}
.site_title {
  font-family: 'ChomskyRegular';
  font-weight: lighter;
  font-style: normal;
  font-size: x-large;
  color: black;
  text-decoration: none;
}

.article-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

nav {
  display: flex;
  border-top: 1px solid #ebebeb;
  padding: 0 60px;
  border-bottom: 1px solid #000;
  list-style: none;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
}

nav .nav-topic-formControl {
  display: none;
}

.nav {
  padding: 10px;
  border-left: 1px solid #ebebeb34;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  font-size: small;
}

.nav:hover {
  transition: background-color 0.6s ease;
  background-color: #ececec;
}

.nav-login-or-logged-in {
  margin-left: auto;
  display: flex;
}

.nav-login {
  width: 50px;
  text-align: center;
  padding: 10px;
  border-left: 1px solid #ebebeb34;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  font-size: small;
  background-color: #8fc1e3;
  color: white;
}

.nav-login:hover {
  transition: background-color 0.6s ease;
  background-color: #5085a5;
}

.nav-logged-in {
  padding: 0;
  border-left: 1px solid #ebebeb34;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  font-size: small;
  margin: 0;
  align-self: center;
}

.nav-logged-in * {
  padding: 0;
  border-left: 1px solid #ebebeb34;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  font-size: small;
  margin: 0;
  text-align: right;
}

.nav-logout {
  cursor: pointer;
}

#topic-label {
  display: none;
}

.sorter {
  margin-top: 10px;
}

.sorter * {
  margin-right: 5px;
}

.article-card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'topic created' 'title votes' 'author comments';
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 80px;
  border-radius: 2px;
  padding-left: 50px;
  padding-right: 50px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-card * {
  margin: 0;
}

.article-card-topic {
  grid-area: topic;
  font-style: italic;
}

.article-card-title {
  white-space: nowrap;
  overflow: hidden;
  grid-area: title;
  font-size: larger;
  text-overflow: ellipsis;
  align-self: center;
}

.article-card-title * {
  color: black;
  text-decoration: none;
}

.article-card-author * {
  grid-area: author;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.article-card-author img {
  height: 18px;
}

.article-card-created {
  grid-area: created;
  justify-self: flex-end;
}

.article-card-comments {
  grid-area: comments;
  justify-self: flex-end;
}

.article-card-comments * {
  text-decoration: none;
  color: black;
}

.article-card-comments img {
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 8px;
}

.article-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-container {
  max-width: 1000px;
  display: grid;
  grid-template-areas: 'title votes' 'author comments' 'created .' 'body body' 'show-comments show-comments';
  grid-template-columns: 1fr auto;
  justify-content: center;
  margin: 40px 1em 0;
  padding-left: 58px;
  padding-right: 58px;
  padding-bottom: 58px;
  padding-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-container-title {
  grid-area: title;
  font-size: 1.7em;
  margin-top: 15px;
}

.article-container-author {
  grid-area: author;
  margin-bottom: 0;
  font-weight: bold;
}

.article-container-author * {
  color: black;
  text-decoration: none;
}

.article-container-comments {
  grid-area: comments;
  margin-bottom: 0;
  cursor: pointer;
}

.article-container-comments img {
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 8px;
}

.article-container-created {
  grid-area: created;
  margin-top: 0;
  font-family: Helvetica;
  font-size: small;
}

.article-container-body {
  grid-area: body;
  text-align: justify;
  font-family: Helvetica;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.article-container-show-comments {
  grid-area: show-comments;
  color: rgb(194, 194, 194);
  text-align: center;
  position: relative;
  top: 30px;
  cursor: pointer;
}

.comments-container {
  grid-area: comments;
  max-width: 700px;
  margin: 0 2em;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
}

.comments-login {
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background-color: #8fc1e3;
  color: white;
  padding: 5px 20px;
  font-family: sans-serif;
  font-size: small;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.055),
    0 6px 20px 0 rgba(0, 0, 0, 0.089);
}

.comments-login:hover {
  transition: background-color 0.6s ease;
  background-color: #5085a5;
}

.comment-adder-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 90%;
}

.comment-adder-textbox {
  width: 100%;
  resize: none;
  height: 100px;
}

.comment-adder-submit {
  width: 50%;
}

.comment-adder-added {
  width: 100%;
  background-color: #b0ffa8;
  text-align: center;
}

.toggle-comment-adder {
  margin-bottom: 10px;
}

.comment-card {
  display: grid;
  grid-template-areas: 'author votes' 'body body' 'created delete';
  border-top: 1px solid lightgray;
  margin-bottom: 10px;
  min-height: 100px;
  padding: 1em;
  margin-left: 10px;
  margin-right: 10px;
  align-self: stretch;
}

.comment-card-author {
  grid-area: author;
}

.comment-card-body {
  grid-area: body;
}

.comment-card-created {
  grid-area: created;
}

.comment-card-delete {
  grid-area: delete;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: Helvetica;
  font-size: x-small;
  color: slategray;
}

.delete-x:hover {
  cursor: pointer;
  color: #ff0000;
}

.voter {
  grid-area: votes;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.voter-like-buttons img {
  cursor: pointer;
  height: 25px;
  margin-right: 5px;
}

.login-container {
  padding: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username-lbl {
  text-align: right;
}

.username-tb {
  width: 16em;
  justify-self: center;
}

.password-lbl {
  text-align: right;
}

.password-tb {
  width: 16em;
  justify-self: center;
}

.login-button {
  width: 13em;
  margin: 10px;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background-color: #8fc1e3;
  color: white;
  padding: 5px 20px;
  font-family: sans-serif;
  font-size: small;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.055),
    0 6px 20px 0 rgba(0, 0, 0, 0.089);
  text-transform: uppercase;
  cursor: pointer;
}

.login-button:hover {
  transition: background-color 0.6s ease;
  background-color: #5085a5;
}

.login-register {
  text-align: center;
  width: 13em;
  margin: 10px;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background-color: #8fc1e3;
  color: white;
  padding: 5px 20px;
  font-family: sans-serif;
  font-size: small;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.055),
    0 6px 20px 0 rgba(0, 0, 0, 0.089);
  text-transform: uppercase;
}

.login-register:hover {
  transition: background-color 0.6s ease;
  background-color: #5085a5;
}

.login-hr {
  width: 14em;
  color: rgba(255, 255, 255, 0.52);
}

.register-container {
  padding: 30px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-login-button {
  text-align: center;
  width: 13em;
  margin: 10px;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background-color: #8fc1e3;
  color: white;
  padding: 5px 20px;
  font-family: sans-serif;
  font-size: small;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.055),
    0 6px 20px 0 rgba(0, 0, 0, 0.089);
  text-transform: uppercase;
}

.register-login-button:hover {
  transition: background-color 0.6s ease;
  background-color: #5085a5;
}

.loading-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  body {
    /* background-color: lightblue; */
  }
  .site_title {
    font-size: large;
  }
  #topic-label {
    display: flex;
    align-items: center;
  }

  .article-container {
    max-width: 1000px;
    display: grid;
    grid-template-areas: 'title votes' 'author comments' 'created .' 'body body' 'show-comments show-comments';
    grid-template-columns: 1fr auto;
    justify-content: center;
    margin: 0;
    border: none;
    padding-left: 10px;
    border-radius: 0px;
    padding-right: 10px;
    padding-bottom: 58px;
    padding-top: 25px;
    border-bottom: 1px solid black;
  }

  .article-card-title * {
    color: black;
    text-decoration: none;
    font-size: 15px;
    white-space: normal;
  }

  .article-card {
    height: fit-content;
  }
}
@media (max-width: 500px) {
  nav li {
    display: none;
  }

  .nav {
    padding: 0px;
  }
  nav .nav-topic-formControl {
    display: inline-block;
    align-self: center;
    width: 100px;
  }
}
